<header id="header" class="module header " data-module="header">
    <nav class="container navbar navbar-expand-lg justify-content-lg-between mt-3">
        <div class="header-mobile">
          <div class="col-mb-8">
              <a id="header-logo" class="navbar-brand header-logo" title="{{ title }}" href="index.html">
                  <img src="assets/images/Logo.png" alt="{{ title }}">
                </a>
          </div>
          <div class="col-mb-4">
            <button class="navbar-toggler hamburger-menu" type="button" data-toggle="collapse" data-target="#main-search" >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icomoon icon-close-menu d-none"></span>
              <span class="sr-only">Search</span>
            </button>
          </div>
        </div>
        {% include "modules/mod-search.html" %}

      </nav>
  <nav class="container navbar navbar-expand-lg justify-content-lg-between ">

    {% include "modules/global/menu.html" %}

  </nav>

</header>

